<h1>Listas</h1>

<%= link_to "Nova Lista", new_list_path %>

<hr>

<ul>
  <% @lists.each do |list| %>
    <li>
      <strong><%= list.title %></strong>

      <%= link_to "Abrir", list_path(list) %>

      <%= link_to "Excluir",
            list_path(list),
            data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
    </li>
  <% end %>
</ul>