<div id="flash_messages">
  <% flash.each do |tipo, mensagem| %>
    <div data-controller="flash-message"
         data-flash-message-timeout-value="3000"
         class="flash-message p-3 mb-2 rounded shadow <%= tipo.to_s == 'success' ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800' %>">
      <%= mensagem %>
    </div>
  <% end %>
</div>