<div id="novo_item_form">

  <%= form_with(model: [list, item]) do |form| %>

    <div>
      <%= form.label :title, "Nova tarefa" %><br>
      <%= form.text_field :title, required: true %>
    </div>

    <div>
      <%= form.submit "Adicionar" %>
    </div>

  <% end %>

</div>